<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" name="viewport" content="width=device-width,initial-scale=1">
		<title>cURL Proxy</title>
		<link rel="icon" href="data:image/vnd.microsoft.icon;base64,">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/github-markdown-css">
		<style>
			html, body {
				color-scheme: light dark;
				overscroll-behavior: none;
				margin: 0;
				padding: 0;
			}
			.markdown-body {
				box-sizing: border-box;
				min-height: 100vh;
				min-height: 100dvh;
				padding: 2rem;
			}
		</style>
	</head>
	<body>
		<div class="markdown-body">TEMPLATE_CONTENT</div>
	</body>
</html>
