<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" name="viewport" content="width=device-width,initial-scale=1">
		<title>URL Proxy</title>
		<link rel="icon" href="data:image/vnd.microsoft.icon;base64,">
		<style>
			html, body{
				color-scheme: light dark;
				overscroll-behavior: none;
			}
			html {
				min-width: min-content;
			}
			body.wrap pre{
				white-space: pre-wrap;
			}
			button {
				user-select: none;
				cursor: pointer;
			}
		</style>
	</head>
	<body class="wrap">
		<pre><code>TEMPLATE_CONTENT</code></pre>
		<button onclick="toggleWrap(this)">No Wrap</button>
	</body>
	<script>
		function toggleWrap(button) {
			document.body.classList.toggle('wrap')
			button.innerText = document.body.classList.contains('wrap')
				? 'No Wrap' : 'Wrap Text'
		}
	</script>
</html>
